# Importing Libraries and Data

In [1]:
# import libraries
import numpy as np
import pandas as pd
import pickle

from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
# load data 
credits = pd.read_csv("data/tmdb_5000_credits.csv")
movies = pd.read_csv("data/tmdb_5000_movies.csv")

# Data Exploration

In [3]:
# Check few observations of credits dataframe
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
# Check few observations of movies dataframe
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
# Check shape of both dataframes
credits.shape, movies.shape

((4803, 4), (4803, 20))

# Merge Dataframes

In [6]:
# Find common columns in both dataframes
def compare_column_names(df1, df2):
    cols1 = set(df1.columns)
    cols2 = set(df2.columns)
    return cols1.intersection(cols2)

print(compare_column_names(movies, credits))

{'title'}

In [7]:
# Merge two dataframes on the column 'title'
df = movies.merge(credits, on='title')

# view
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

# Preprocessing Data

In [8]:
# Thought process what columns are needed for recommendation
# Consider each coloum
# Write coloumns that are needed.
# ['movie_id', 'title', 'overview', cast', 'genres', 'keywords', 'crew']

In [9]:
# Select required columns
df = df[['movie_id', 'title', 'overview', 'cast', 'genres', 'keywords', 'crew']]
df.head()

,movie_id,title,overview,cast,genres,keywords,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [10]:
# Check for missing values
df.isnull().sum()

movie_id    0
title       0
overview    3
cast        0
genres      0
keywords    0
crew        0
dtype: int64

In [11]:
# Drop rows with missing values
df.dropna(inplace=True)
df.isnull().sum()

movie_id    0
title       0
overview    0
cast        0
genres      0
keywords    0
crew        0
dtype: int64

In [12]:
# check duplicat values
df.duplicated().sum()

0

In [13]:
# precprocessing steps
# cast column has dictionary in list of list 
# so make function to get key 'name' value 
# check fist list
df.cast[0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [14]:
# Define a function to extract the 'name' key from the cast column
import ast 

def convert1(text):
    """
    Extract the first three 'name' keys from a list of dictionaries stored in the 'cast' column.
    
    Args:
    text (str): A string representation of a list of dictionaries
    
    Returns:
    list: A list containing the first three 'name' keys from the dictionaries in the input list
    """
    names_list = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            names_list.append(i['name'])
        counter += 1
    return names_list

In [15]:
# Apply the function and save in the same column
df['cast'] = df['cast'].apply(convert1)

In [16]:
# view
df.head(2)

,movie_id,title,overview,cast,genres,keywords,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [17]:
# preprocessing 'genres' column
df.genres[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [18]:
# Define a function to extract the 'name' key from the genres column
def convert2(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [19]:
# Define a function to extract the 'name' key from the genres column
def convert2(text):
    return [i['name'] for i in ast.literal_eval(text)]

In [20]:
# Apply the function and save in the same column
df['genres'] = df['genres'].apply(convert2)

# view
df.head()

,movie_id,title,overview,cast,genres,keywords,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman]","[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [21]:
# Preprocess 'keywords' column
df["keywords"] = df.keywords.apply(convert2)

# view
df.head()

,movie_id,title,overview,cast,genres,keywords,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman]","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [22]:
# Define a function to extract the 'name' key for the 'Director' job from the crew column
def fetch_director(text):
    """
    Extracts the 'name' key from the 'Director' job in a list of dictionaries 
    stored in the input text string. 
    
    Args: 
    text (str): A string representation of a list of dictionaries
    
    Returns: 
    list: A list containing the 'name' keys from the input list where the job is 'Director'
    """
    return [i['name'] for i in ast.literal_eval(text) if i['job'] == 'Director']

In [23]:
# Apply the function and save in the same column
df["crew"] = df.crew.apply(fetch_director)

# view
df.head()

,movie_id,title,overview,cast,genres,keywords,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman]","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",[Andrew Stanton]

In [24]:
# Preprocess 'overview' column
df.overview[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [25]:
# Split the 'overview' column into a list of words
df["overview"] = df.overview.apply(lambda x: x.split())

# view
df.head()

,movie_id,title,overview,cast,genres,keywords,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Christian Bale, Michael Caine, Gary Oldman]","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",[Andrew Stanton]

In [26]:
# Define a function to remove spaces from each word in a list
def remove_spaces_from_words(word_list):
    """
    Removes spaces from each word in a list and returns a new list.
    
    Args: 
    word_list (list): A list of strings
    
    Returns: 
    list: A list containing the strings from the input list with spaces removed
    """
    return [word.replace(" ", "") for word in word_list]

In [27]:
# Apply the function to the 'genres', 'cast', 'keywords', and 'crew' columns
df["genres"] = df.genres.apply(remove_spaces_from_words)
df["cast"] = df.cast.apply(remove_spaces_from_words)
df["keywords"] = df.keywords.apply(remove_spaces_from_words)
df["crew"] = df.crew.apply(remove_spaces_from_words)
# view
df.head()

,movie_id,title,overview,cast,genres,keywords,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...",[AndrewStanton]

In [28]:
# Combine the columns 'overview', 'cast', 'genres', 'keywords', and 'crew'
df["tags"] = df.overview + df.cast + df.genres + df.keywords + df.crew

# view
df.head(2)

,movie_id,title,overview,cast,genres,keywords,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."

In [29]:
# drop columns 
new_df = df.drop(columns=["overview", "cast" , "genres", "keywords", "crew"])
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [30]:
# remove list
new_df["tags"] = df.tags.apply(lambda x: " ".join(x))
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [31]:
new_df["tags"] = new_df.tags.str.lower()
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [32]:
# create CounterVector objet
cv = CountVectorizer(max_features=5000, stop_words="english")

In [33]:
# apply CounterVector

vector = cv.fit_transform(new_df.tags).toarray()
vector.shape

(4806, 5000)

In [34]:
# words are not to its base form so need to convert to base form
# get feature names
feature_names = cv.vocabulary_
feature_names

{'century': 730,
 'marine': 2779,
 'dispatched': 1279,
 'moon': 2984,
 'unique': 4698,
 'mission': 2946,
 'torn': 4564,
 'following': 1722,
 'orders': 3201,
 'protecting': 3522,
 'alien': 158,
 'civilization': 833,
 'zoesaldana': 4994,
 'sigourneyweaver': 4080,
 'action': 76,
 'adventure': 108,
 'fantasy': 1611,
 'sciencefiction': 3925,
 'cultureclash': 1072,
 'future': 1794,
 'society': 4147,
 'spacetravel': 4185,
 'futuristic': 1795,
 'romance': 3808,
 'space': 4179,
 'tribe': 4625,
 'soldier': 4152,
 'battle': 422,
 '3d': 40,
 'captain': 662,
 'long': 2661,
 'believed': 451,
 'dead': 1141,
 'come': 902,
 'life': 2612,
 'headed': 2009,
 'edge': 1390,
 'earth': 1379,
 'turner': 4647,
 'elizabeth': 1414,
 'quite': 3569,
 'johnnydepp': 2393,
 'orlandobloom': 3209,
 'keiraknightley': 2461,
 'ocean': 3162,
 'drugabuse': 1345,
 'exoticisland': 1547,
 'loveofone': 2700,
 'slife': 4130,
 'traitor': 4599,
 'shipwreck': 4053,
 'ship': 4052,
 'alliance': 165,
 'afterlife': 121,
 'fighter': 1663,
 'pirate': 3373,
 'aftercreditsstinger': 120,
 'goreverbinski': 1882,
 'message': 2884,
 'bond': 534,
 'past': 3282,
 'sends': 3990,
 'trail': 4594,
 'uncover': 4678,
 'sinister': 4098,
 'organization': 3204,
 'battles': 424,
 'political': 3417,
 'forces': 1733,
 'secret': 3956,
 'service': 4010,
 'alive': 163,
 'deceit': 1160,
 'reveal': 3731,
 'terrible': 4473,
 'truth': 4640,
 'danielcraig': 1105,
 'christophwaltz': 816,
 'crime': 1045,
 'spy': 4220,
 'basedonnovel': 411,
 'secretagent': 3957,
 'sequel': 4000,
 'britishsecretservice': 589,
 'death': 1150,
 'district': 1281,
 'attorney': 349,
 'harvey': 1993,
 'batman': 421,
 'assumes': 329,
 'responsibility': 3707,
 'crimes': 1047,
 'protect': 3521,
 'late': 2549,
 'reputation': 3690,
 'hunted': 2146,
 'gotham': 1887,
 'city': 831,
 'police': 3411,
 'department': 1190,
 'years': 4980,
 'later': 2550,
 'encounters': 1454,
 'mysterious': 3049,
 'kyle': 2524,
 'villainous': 4784,
 'new': 3106,
 'terrorist': 4480,
 'leader': 2565,
 'dark': 1115,
 'knight': 2506,
 'enemy': 1462,
 'christianbale': 801,
 'michaelcaine': 2898,
 'garyoldman': 1813,
 'drama': 1324,
 'thriller': 4524,
 'dccomics': 1139,
 'crimefighter': 1046,
 'secretidentity': 3959,
 'burglar': 622,
 'gothamcity': 1888,
 'vigilante': 4781,
 'cover': 1021,
 'superhero': 4351,
 'terrorism': 4479,
 'destruction': 1213,
 'imax': 2178,
 'flood': 1711,
 'christophernolan': 813,
 'john': 2383,
 'carter': 689,
 'war': 4834,
 'military': 2922,
 'transported': 4606,
 'exotic': 1546,
 'planet': 3384,
 'mars': 2800,
 'reluctantly': 3669,
 'embroiled': 1430,
 'epic': 1489,
 'conflict': 947,
 'world': 4954,
 'brink': 586,
 'collapse': 882,
 'humanity': 2137,
 'realizes': 3619,
 'survival': 4377,
 'people': 3317,
 'hands': 1967,
 'samanthamorton': 3876,
 'princess': 3486,
 'steampunk': 4252,
 'martian': 2806,
 'escape': 1499,
 'superhumanstrength': 4354,
 '19thcentury': 30,
 'seemingly': 3978,
 'spider': 4205,
 'man': 2758,
 'goes': 1871,
 'villain': 4783,
 'including': 2196,
 'shape': 4036,
 'superpowers': 4359,
 'alter': 173,
 'ego': 1400,
 'peter': 3336,
 'parker': 3263,
 'deals': 1148,
 'nemesis': 3096,
 'eddie': 1387,
 'gets': 1843,
 'caught': 710,
 'love': 2695,
 'triangle': 4624,
 'tobeymaguire': 4547,
 'kirstendunst': 2500,
 'jamesfranco': 2307,
 'dualidentity': 1354,
 'amnesia': 194,
 'forgiveness': 1741,
 'wretch': 4965,
 'deathofafriend': 1151,
 'hostility': 2121,
 'marvelcomic': 2814,
 'revenge': 3736,
 'samraimi': 3878,
 'kingdom': 2497,
 'wanted': 4831,
 'charming': 762,
 'taken': 4410,
 'hostage': 2119,
 'beautiful': 434,
 'bound': 547,
 'teen': 4446,
 '70': 46,
 'feet': 1643,
 'magical': 2737,
 'golden': 1874,
 'hair': 1958,
 'curious': 1077,
 'looking': 2665,
 'ticket': 4532,
 'locked': 2650,
 'away': 372,
 'strikes': 4303,
 'deal': 1144,
 'handsome': 1968,
 'thief': 4501,
 'unlikely': 4710,
 'duo': 1359,
 'sets': 4016,
 'packed': 3237,
 'escapade': 1498,
 'complete': 931,
 'super': 4350,
 'cop': 990,
 'horse': 2116,
 'gang': 1804,
 'thugs': 4530,
 'mandymoore': 2761,
 'animation': 225,
 'family': 1602,
 'magic': 2736,
 'fairytale': 1589,
 'musical': 3039,
 'duringcreditsstinger': 1360,
 'tony': 4560,
 'stark': 4238,
 'tries': 4627,
 'program': 3506,
 'things': 4504,
 'awry': 373,
 'heroes': 2045,
 'ultimate': 4670,
 'test': 4487,
 'fate': 1624,
 'hangs': 1972,
 'balance': 385,
 'emerges': 1433,
 'stop': 4281,
 'plans': 3388,
 'soon': 4164,
 'unexpected': 4691,
 'way': 4862,
 'global': 1865,
 'robertdowneyjr': 3781,
 'chrishemsworth': 795,
 'markruffalo': 2787,
 'basedoncomicbook': 409,
 'vision': 4798,
 'marvelcinematicuniverse': 2813,
 'harry': 1989,
 'begins': 446,
 'year': 4979,
 'discovers': 1269,
 'old': 3176,
 'book': 537,
 'marked': 2784,
 'property': 3516,
 'half': 1960,
 'blood': 513,
 'prince': 3485,
 'learn': 2571,
 'lord': 2670,
 'danielradcliffe': 1107,
 'rupertgrint': 3843,
 'emmawatson': 1443,
 'witch': 4925,
 'teenagecrush': 4448,
 'werewolf': 4878,
 'actions': 78,
 'god': 1869,
 'like': 2620,
 'hero': 2044,
 'left': 2579,
 'formidable': 1743,
 'takes': 4411,
 'modern': 2965,
 'day': 1136,
 'sort': 4169,
 'really': 3621,
 'needs': 3089,
 'superman': 4355,
 'threat': 4517,
 'quickly': 3566,
 'putting': 3556,
 'mankind': 2766,
 'greater': 1905,
 'danger': 1101,
 'known': 2510,
 'benaffleck': 456,
 'returns': 3726,
 'discover': 1266,
 'walk': 4819,
 'free': 1771,
 'abandoned': 49,
 'moved': 3012,
 'plots': 3402,
 'millions': 2927,
 'killed': 2487,
 'change': 743,
 'face': 1576,
 'forever': 1739,
 'steel': 4253,
 'kevinspacey': 2473,
 'katebosworth': 2446,
 'savingtheworld': 3903,
 'bryansinger': 609,
 'continues': 972,
 'adventures': 109,
 'james': 2305,
 'casino': 695,
 'betrayed': 472,
 'woman': 4932,
 'loved': 2697,
 '007': 1,
 'fights': 1666,
 'make': 2746,
 'latest': 2551,
 'personal': 3331,
 'pursuing': 3550,
 'determination': 1217,
 'mr': 3020,
 'white': 4888,
 'reveals': 3734,
 'far': 1613,
 'complex': 933,
 'dangerous': 1102,
 'imagined': 2177,
 'killing': 2491,
 'undercover': 4681,
 'marcforster': 2772,
 'jack': 2295,
 'works': 4953,
 'debt': 1154,
 'jones': 2406,
 'attempts': 343,
 'avoid': 368,
 'eternal': 1509,
 'fortuneteller': 1748,
 'monster': 2976,
 'daughter': 1124,
 'texas': 4490,
 'rangers': 3597,
 'chase': 763,
 'led': 2577,
 'survivor': 4382,
 'american': 188,
 'indian': 2203,
 'named': 3057,
 'health': 2014,
 'ranger': 3596,
 'mask': 2817,
 'riding': 3752,
 'silver': 4082,
 'teams': 4440,
 'bring': 583,
 'justice': 2436,
 'western': 4884,
 'partner': 3268,
 'outlaw': 3221,
 'lawyer': 2561,
 'train': 4595,
 'young': 4983,
 'boy': 554,
 'learns': 2573,
 'extraordinary': 1568,
 'powers': 3450,
 'journeys': 2419,
 'came': 642,
 'sent': 3994,
 'emerge': 1431,
 'save': 3899,
 'symbol': 4404,
 'hope': 2105,
 'amyadams': 199,
 'michaelshannon': 2904,
 'superhuman': 4353,
 'alieninvasion': 159,
 'reboot': 3630,
 'incredible': 2198,
 'lion': 2631,
 'lucy': 2714,
 'susan': 4384,
 'return': 3723,
 'aid': 136,
 'threatened': 4519,
 'evil': 1527,
 'king': 2496,
 'help': 2038,
 'colorful': 897,
 'cast': 696,
 'characters': 752,
 'clan': 839,
 'embarks': 1428,
 'quest': 3562,
 'ensure': 1477,
 'returned': 3724,
 'heir': 2028,
 'fictionalplace': 1657,
 'brothersisterrelationship': 601,
 'faith': 1590,
 'uncle': 4676,
 'fantasyworld': 1612,
 'threatens': 4521,
 'safety': 3865,
 'security': 3970,
 'nick': 3122,
 'director': 1256,
 'international': 2252,
 'agency': 126,
 'finds': 1685,
 'need': 3087,
 'team': 4439,
 'pull': 3538,
 'disaster': 1264,
 'spanning': 4188,
 'globe': 1866,
 'daring': 1114,
 'effort': 1397,
 'chrisevans': 794,
 'newyork': 3118,
 'crosses': 1058,
 'paths': 3285,
 'sure': 4366,
 'ruthless': 3853,
 'artist': 306,
 'using': 4736,
 'youth': 4987,
 'aboard': 55,
 'queen': 3558,
 'anne': 231,
 'doesn': 1297,
 'know': 2507,
 'fear': 1632,
 'penÃ©lopecruz': 3316,
 'sea': 3939,
 'mutiny': 3047,
 'sword': 4399,
 'sailing': 3868,
 'duke': 1357,
 'mermaid': 2882,
 'agents': 129,
 'smith': 4136,
 'tommy': 4556,
 'lee': 2578,
 'time': 4538,
 'seen': 3979,
 '15': 8,
 'men': 2873,
 'black': 503,
 'aliens': 161,
 'stake': 4227,
 'agent': 128,
 'travel': 4613,
 'right': 3755,
 'secrets': 3965,
 'universe': 4702,
 'told': 4551,
 'josh': 2412,
 'humankind': 2138,
 'willsmith': 4909,
 'tommyleejones': 4557,
 'joshbrolin': 2413,
 'comedy': 906,
 'timetravel': 4541,
 'barrysonnenfeld': 404,
 'immediately': 2179,
 'events': 1522,
 'dwarves': 1364,
 'try': 4641,
 'defend': 1173,
 'mountain': 3009,
 'treasure': 4617,
 'claim': 835,
 'elves': 1424,
 'army': 291,
 'orcs': 3198,
 'rise': 3762,
 'unite': 4700,
 'middle': 2911,
 'falls': 1596,
 'martinfreeman': 2809,
 'ianmckellen': 2155,
 'corruption': 1000,
 'dragon': 1323,
 'swordandsorcery': 4400,
 'peterjackson': 3339,
 'outcast': 3219,
 'high': 2052,
 'parents': 3259,
 'leaving': 2576,
 'raised': 3590,
 'ben': 455,
 'aunt': 357,
 'teenagers': 4451,
 'trying': 4642,
 'figure': 1667,
 'got': 1886,
 'person': 3330,
 'today': 4548,
 'father': 1626,
 'understand': 4686,
 'disappearance': 1261,
 'leading': 2568,
 'lab': 2526,
 'dr': 1320,
 'set': 4012,
 'collision': 891,
 'course': 1015,
 'choices': 788,
 'use': 4733,
 'destiny': 1209,
 'emmastone': 1441,
 'lossoffather': 2681,
 'robin': 3787,
 'happens': 1977,
 'dying': 1366,
 'robert': 3779,
 'promises': 3512,
 'identity': 2162,
 'widow': 4893,
 'draws': 1329,
 'town': 4578,
 'sheriff': 4050,
 'russellcrowe': 3848,
 'cateblanchett': 703,
 'archer': 280,
 'medieval': 2860,
 'ridleyscott': 3753,
 'successfully': 4334,
 'escaped': 1500,
 'mountains': 3010,
 'ring': 3759,
 'continue': 971,
 'journey': 2418,
 'gold': 1873,
 'wizard': 4930,
 'shocking': 4055,
 'orphan': 3211,
 'carefree': 674,
 'existence': 1542,
 'jordan': 2409,
 'college': 888,
 'otherworldly': 3216,
 'north': 3138,
 'unaware': 4675,
 'nicolekidman': 3125,
 'england': 1468,
 'experiment': 1556,
 'animal': 220,
 'basedonyoungadultnovel': 418,
 'york': 4982,
 'ambitious': 184,
 'movie': 3015,
 'producer': 3500,
 'hired': 2069,
 'crew': 1044,
 'skull': 4115,
 'island': 2285,
 'encounter': 1453,
 'kong': 2512,
 'giant': 1848,
 'ape': 260,
 'smitten': 4137,
 'lady': 2530,
 'naomiwatts': 3061,
 'jackblack': 2296,
 'adrienbrody': 102,
 'filmmaking': 1677,
 'filmproducer': 1678,
 'dinosaur': 1251,
 'rose': 3823,
 'tells': 4461,
 'story': 4288,
 'lewis': 2602,
 'bobby': 524,
 'april': 274,
 'called': 638,
 'upper': 4724,
 'class': 842,
 'passengers': 3277,
 'mother': 3000,
 'ruth': 3852,
 'fiancÃ©': 1653,
 'drifter': 1334,
 'best': 467,
 'friend': 1776,
 'win': 4911,
 'game': 1801,
 'voyage': 4811,
 '20': 31,
 'morning': 2992,
 'katewinslet': 2449,
 'leonardodicaprio': 2589,
 'panic': 3251,
 'age': 123,
 'pass': 3274,
 'act': 74,
 'designed': 1199,
 'activity': 81,
 'causing': 714,
 'factions': 1582,
 'america': 187,
 'causes': 713,
 'allies': 167,
 'scarlettjohansson': 3912,
 'civilwar': 834,
 'radio': 3582,
 'comes': 907,
 'form': 1742,
 'waters': 4860,
 'hawaii': 2006,
 'lieutenant': 2610,
 'alex': 154,
 'hopper': 2110,
 'weapons': 4867,
 'officer': 3171,
 'assigned': 326,
 'paul': 3293,
 'hostile': 2120,
 'force': 1731,
 'unimaginable': 4696,
 'strength': 4298,
 'taking': 4412,
 'invaders': 2262,
 'live': 2639,
 'potential': 3443,
 'brother': 598,
 'fiancÃ©e': 1654,
 'shane': 4034,
 'fight': 1662,
 'navy': 3078,
 'hongkong': 2099,
 'soccer': 4144,
 'scientist': 3927,
 'peterberg': 3337,
 'park': 3262,
 'features': 1636,
 'fully': 1788,
 'dna': 1290,
 'suspense': 4390,
 'amusementpark': 197,
 'animalattack': 221,
 'animalhorror': 222,
 'assignment': 327,
 'wrong': 4972,
 'exposed': 1564,
 'attacked': 339,
 'forcing': 1734,
 'cause': 711,
 'authority': 363,
 'position': 3434,
 'challenged': 738,
 'intelligence': 2245,
 'inside': 2230,
 'ally': 170,
 'trust': 4639,
 'aided': 137,
 'field': 1658,
 'eve': 1519,
 'lethal': 2597,
 'hidden': 2049,
 'motives': 3005,
 'judidench': 2424,
 'javierbardem': 2324,
 'sociopath': 4148,
 'killer': 2488,
 'going': 1872,
 'major': 2745,
 'crisis': 1050,
 'decides': 1164,
 'leaves': 2575,
 'suffering': 4338,
 'wake': 4817,
 'doc': 1291,
 'feelings': 1641,
 'mary': 2815,
 'jane': 2315,
 'girl': 1854,
 'childhood': 777,
 'doctor': 1292,
 'supervillain': 4361,
 'apart': 257,
 'starts': 4244,
 'odyssey': 3166,
 'retribution': 3721,
 'gwynethpaltrow': 1953,
 'doncheadle': 1309,
 'tennessee': 4463,
 'malibu': 2756,
 'alice': 157,
 'individual': 2207,
 '19': 13,
 'english': 1469,
 'engagement': 1466,
 'party': 3272,
 'escapes': 1501,
 'marriage': 2792,
 'hole': 2084,
 'garden': 1809,
 'unusual': 4720,
 'rabbit': 3570,
 'arriving': 301,
 'strange': 4291,
 'surreal': 4373,
 'place': 3377,
 'nightmares': 3130,
 'child': 774,
 'filled': 1670,
 'talking': 4418,
 'animals': 223,
 'queens': 3560,
 'reason': 3623,
 'conquer': 957,
 'horrific': 2112,
 'restore': 3711,
 'throne': 4526,
 'annehathaway': 232,
 'timburton': 4537,
 'cure': 1075,
 'lines': 2629,
 'drawn': 1328,
 'band': 389,
 'powerful': 3448,
 'mutants': 3045,
 'organized': 3205,
 'hughjackman': 2134,
 'halleberry': 1962,
 'mutant': 3044,
 'beast': 430,
 'brettratner': 574,
 'look': 2664,
 'relationship': 3657,
 'mike': 2917,
 'days': 1137,
 'monsters': 2977,
 'university': 4703,
 'friends': 1778,
 'billycrystal': 492,
 'johngoodman': 2387,
 'stevebuscemi': 4264,
 'games': 1802,
 'bestfriend': 468,
 'scary': 3913,
 'sam': 3874,
 'normal': 3137,
 'mind': 2928,
 'target': 4424,
 'shialabeouf': 4051,
 'egypt': 1401,
 'sun': 4348,
 'chaos': 748,
 'tank': 4422,
 'robot': 3791,
 'michaelbay': 2897,
 'picks': 3359,
 'pieces': 3363,
 'conclusion': 941,
 'group': 1924,
 'businessman': 627,
 'scientists': 3928,
 'attempt': 341,
 'push': 3552,
 'boundaries': 548,
 'technology': 4444,
 'control': 975,
 'ancient': 203,
 'menace': 2874,
 'cross': 1055,
 'markwahlberg': 2789,
 'giantrobot': 1849,
 'oscar': 3214,
 'small': 4133,
 'circus': 828,
 'kansas': 2439,
 'land': 2534,
 'oz': 3232,
 'inhabitants': 2218,
 'great': 1904,
 'prophecy': 3517,
 'clutches': 867,
 'milakunis': 2919,
 'rachelweisz': 3578,
 'lost': 2687,
 'busy': 629,
 'bad': 381,
 'guys': 1952,
 'spending': 4202,
 'loves': 2703,
 'school': 3921,
 'graduation': 1896,
 'promise': 3510,
 'uncovers': 4679,
 'clues': 866,
 'jamiefoxx': 2313,
 'obsession': 3154,
 'tech': 4443,
 'son': 4159,
 'kevin': 2466,
 'investigates': 2268,
 'pulled': 3539,
 'dictator': 1237,
 'real': 3616,
 'jeffbridges': 2334,
 'oliviawilde': 3181,
 'artificialintelligence': 305,
 'dystopia': 1373,
 'computer': 937,
 'deception': 1161,
 'duel': 1356,
 'motorcycle': 3008,
 'star': 4236,
 'race': 3571,
 'car': 667,
 'lightning': 2618,
 'pal': 3246,
 'head': 2008,
 'compete': 927,
 'grand': 1897,
 'road': 3771,
 'championship': 741,
 'rocky': 3798,
 'espionage': 1505,
 'owenwilson': 3226,
 'carrace': 683,
 'anthropomorphism': 250,
 'centuries': 729,
 'warriors': 4846,
 'green': 1911,
 'intergalactic': 2251,
 'order': 3199,
 'destroy': 1210,
 'power': 3446,
 'lie': 2608,
 'human': 2135,
 'recruited': 3646,
 'ryanreynolds': 3857,
 'petersarsgaard': 3340,
 'transformation': 4602,
 'martincampbell': 2808,
 'woody': 4942,
 'rest': 3709,
 'andy': 210,
 'toys': 4582,
 'haven': 2003,
 'played': 3393,
 'accidentally': 66,
 'nefarious': 3090,
 'care': 672,
 'center': 725,
 'home': 2087,
 'tomhanks': 4554,
 'timallen': 4536,
 'toy': 4580,
 'toycomestolife': 4581,
 'grown': 1929,
 'post': 3440,
 'apocalyptic': 263,
 'connor': 956,
 'lead': 2564,
 'resistance': 3699,
 'humans': 2139,
 'increasingly': 2197,
 'robots': 3792,
 'marcus': 2774,
 'wright': 4966,
 'appears': 267,
 'determine': 1218,
 'antonyelchin': 256,
 'sanfrancisco': 3886,
 'cyborg': 1088,
 'killerrobot': 2489,
 'gasstation': 1816,
 'losangeles': 2672,
 'shaw': 4047,
 'seeks': 3977,
 'vindiesel': 4788,
 'paulwalker': 3301,
 'dwaynejohnson': 1365,
 'speed': 4198,
 'united': 4701,
 'nations': 3071,
 'investigator': 2271,
 'lane': 2538,
 'suddenly': 4337,
 'plagued': 3381,
 'infection': 2212,
 'turning': 4648,
 'zombies': 4996,
 'barely': 398,
 'escaping': 1502,
 'investigate': 2267,
 'disease': 1271,
 'follows': 1723,
 'perilous': 3324,
 'trek': 4621,
 'brave': 562,
 'dangers': 1103,
 'odds': 3165,
 'answers': 242,
 'bradpitt': 558,
 'horror': 2114,
 'apocalypse': 262,
 'zombie': 4995,
 'species': 4194,
 'join': 2397,
 'younger': 4985,
 'jamesmcavoy': 2310,
 'michaelfassbender': 2900,
 '1970s': 20,
 'storm': 4287,
 'enterprise': 1480,
 'unstoppable': 4718,
 'terror': 4478,
 'stands': 4235,
 'state': 4245,
 'score': 3929,
 'settle': 4018,
 'kirk': 2499,
 'leads': 2569,
 'manhunt': 2763,
 'zone': 4997,
 'capture': 664,
 'weapon': 4866,
 'mass': 2821,
 'chrispine': 797,
 'spacecraft': 4180,
 'friendship': 1779,
 'spaceopera': 4183,
 'unwittingly': 4722,
 'opens': 3190,
 'fearsome': 1634,
 'giants': 1850,
 'unleashed': 4706,
 'reclaim': 3636,
 'fighting': 1665,
 'thought': 4513,
 'existed': 1541,
 'legend': 2582,
 'chance': 742,
 'ewanmcgregor': 1529,
 'adaptation': 92,
 'scott': 3931,
 'novel': 3141,
 'lured': 2719,
 'lavish': 2556,
 'neighbor': 3091,
 'jay': 2325,
 'madness': 2731,
 'tragedy': 4592,
 'infidelity': 2213,
 'rogue': 3802,
 'joins': 2400,
 'capable': 658,
 'gift': 1851,
 'gods': 1870,
 'allow': 168,
 'rule': 3835,
 'jakegyllenhaal': 2304,
 'benkingsley': 462,
 'basedonvideogame': 417,
 'monstrous': 2978,
 'creatures': 1041,
 'started': 4242,
 'rising': 3764,
 'began': 443,
 'lives': 2642,
 'resources': 3702,
 'end': 1455,
 'combat': 899,
 'special': 4192,
 'type': 4664,
 'massive': 2823,
 'controlled': 976,
 'pilots': 3368,
 'minds': 2929,
 'bridge': 578,
 'nearly': 3085,
 'relentless': 3663,
 'verge': 4762,
 'defeat': 1172,
 'choice': 787,
 'turn': 4645,
 'washed': 4850,
 'pilot': 3367,
 'charlie': 757,
 'drive': 1337,
 'legendary': 2583,
 'stand': 4233,
 'steps': 4262,
 'adulthood': 105,
 'remaining': 3672,
 'reluctant': 3668,
 'prime': 3484,
 'film': 1671,
 'centers': 727,
 'usa': 4731,
 ...}

In [35]:
# apply PorterStemmer to reduce words to base form
ps = PorterStemmer()

In [36]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [37]:
new_df["tags"] = new_df.tags.apply(stem)

In [38]:
# check stem function
stem("killer killed killing")

'killer kill kill'

In [39]:
# apply CounterVector again

vector = cv.fit_transform(new_df.tags).toarray()
vector.shape

(4806, 5000)

In [40]:
# check words are converted to base form
feature_names = cv.vocabulary_
feature_names

{'century': 736,
 'marin': 2803,
 'dispatch': 1286,
 'moon': 3013,
 'pandora': 3278,
 'uniqu': 4680,
 'mission': 2980,
 'becom': 441,
 'torn': 4552,
 'follow': 1729,
 'order': 3231,
 'protect': 3530,
 'alien': 157,
 'zoesaldana': 4993,
 'sigourneyweav': 4074,
 'action': 79,
 'adventur': 106,
 'fantasi': 1629,
 'sciencefict': 3924,
 'cultureclash': 1084,
 'futur': 1807,
 'societi': 4147,
 'spacetravel': 4193,
 'futurist': 1809,
 'romanc': 3805,
 'space': 4187,
 'tribe': 4603,
 'alienplanet': 160,
 'soldier': 4154,
 'battl': 424,
 '3d': 47,
 'jamescameron': 2327,
 'captain': 676,
 'long': 2696,
 'believ': 453,
 'dead': 1150,
 'ha': 1962,
 'come': 913,
 'life': 2647,
 'head': 2020,
 'edg': 1407,
 'earth': 1395,
 'turner': 4626,
 'elizabeth': 1435,
 'noth': 3168,
 'quit': 3568,
 'johnnydepp': 2429,
 'orlandobloom': 3238,
 'keiraknightley': 2499,
 'ocean': 3194,
 'drugabus': 1357,
 'exoticisland': 1571,
 'loveofone': 2729,
 'slif': 4126,
 'traitor': 4582,
 'shipwreck': 4050,
 'ship': 4049,
 'allianc': 167,
 'afterlif': 119,
 'fighter': 1680,
 'pirat': 3390,
 'aftercreditssting': 118,
 'goreverbinski': 1891,
 'messag': 2904,
 'bond': 543,
 'past': 3309,
 'send': 3984,
 'trail': 4579,
 'uncov': 4655,
 'sinist': 4096,
 'organization': 3235,
 'polit': 3427,
 'forc': 1737,
 'secret': 3956,
 'servic': 4004,
 'alive': 164,
 'deceit': 1166,
 'reveal': 3728,
 'terribl': 4460,
 'truth': 4619,
 'danielcraig': 1111,
 'christophwaltz': 829,
 'crime': 1055,
 'spi': 4209,
 'basedonnovel': 412,
 'secretag': 3957,
 'sequel': 3993,
 'britishsecretservic': 594,
 'sammend': 3880,
 'death': 1157,
 'district': 1289,
 'attorney': 347,
 'harvey': 2007,
 'batman': 423,
 'assum': 331,
 'respons': 3712,
 'late': 2588,
 'reput': 3697,
 'subsequ': 4329,
 'hunt': 2158,
 'gotham': 1896,
 'citi': 843,
 'polic': 3420,
 'year': 4970,
 'later': 2589,
 'encount': 1472,
 'mysteri': 3073,
 'kyle': 2563,
 'villain': 4777,
 'new': 3124,
 'terrorist': 4465,
 'leader': 2606,
 'overwhelm': 3258,
 'dark': 1120,
 'knight': 2543,
 'resurfac': 3719,
 'brand': 565,
 'enemy': 1480,
 'christianbal': 814,
 'michaelcain': 2918,
 'garyoldman': 1835,
 'drama': 1337,
 'thriller': 4501,
 'dccomic': 1148,
 'crimefight': 1056,
 'secretident': 3959,
 'burglar': 634,
 'gothamc': 1897,
 'vigilant': 4773,
 'cover': 1030,
 'superhero': 4355,
 'terror': 4464,
 'destruct': 1223,
 'imax': 2197,
 'flood': 1718,
 'christophernolan': 826,
 'john': 2417,
 'carter': 701,
 'war': 4829,
 'militari': 2949,
 'inexplic': 2230,
 'transport': 4587,
 'exot': 1570,
 'planet': 3398,
 'reluctantli': 3676,
 'embroil': 1450,
 'epic': 1505,
 'conflict': 958,
 'world': 4943,
 'brink': 591,
 'rediscov': 3647,
 'hi': 2056,
 'human': 2148,
 'realiz': 3622,
 'surviv': 4382,
 'peopl': 3341,
 'rest': 3713,
 'hands': 1975,
 'samanthamorton': 3879,
 'mar': 2795,
 'medallion': 2873,
 'princess': 3494,
 'steampunk': 4252,
 'martian': 2825,
 'escap': 1516,
 'superhumanstrength': 4357,
 '19thcenturi': 35,
 'seemingli': 3974,
 'spider': 4210,
 'man': 2780,
 'goe': 1882,
 'includ': 2214,
 'shape': 4033,
 'shift': 4048,
 'superpow': 4362,
 'alter': 174,
 'ego': 1419,
 'peter': 3356,
 'parker': 3294,
 'deal': 1154,
 'nemesi': 3114,
 'eddi': 1404,
 'caught': 721,
 'love': 2725,
 'triangle': 4602,
 'tobeymaguir': 4530,
 'kirstendunst': 2537,
 'jamesfranco': 2328,
 'dualident': 1368,
 'amnesia': 198,
 'forgiv': 1748,
 'wretch': 4958,
 'deathofafriend': 1158,
 'sand': 3888,
 'hostil': 2131,
 'marvelcom': 2832,
 'reveng': 3731,
 'samraimi': 3882,
 'kingdom': 2534,
 'bandit': 390,
 'rider': 3750,
 'hide': 2059,
 'tower': 4564,
 'taken': 4414,
 'hostag': 2129,
 'beauti': 434,
 'bound': 553,
 'teen': 4438,
 '70': 52,
 'feet': 1658,
 'golden': 1884,
 'hair': 1965,
 'look': 2699,
 'ticket': 4511,
 'lock': 2686,
 'away': 368,
 'years': 4972,
 'strike': 4304,
 'handsom': 1976,
 'thief': 4485,
 'unlik': 4688,
 'duo': 1375,
 'set': 4007,
 'pack': 3265,
 'complet': 940,
 'super': 4353,
 'cop': 998,
 'gang': 1824,
 'pub': 3541,
 'mandymoor': 2782,
 'anim': 229,
 'famili': 1617,
 'magic': 2763,
 'hors': 2123,
 'fairytal': 1606,
 'music': 3063,
 'duringcreditssting': 1377,
 'toni': 4545,
 'stark': 4244,
 'tri': 4599,
 'program': 3514,
 'thing': 4487,
 'awri': 370,
 'hero': 2051,
 'ultim': 4645,
 'test': 4468,
 'fate': 1642,
 'hang': 1978,
 'aveng': 361,
 'stop': 4282,
 'plans': 3400,
 'soon': 4169,
 'unexpect': 4668,
 'way': 4854,
 'global': 1877,
 'adventure': 107,
 'robertdowneyjr': 3779,
 'chrishemsworth': 808,
 'markruffalo': 2808,
 'basedoncomicbook': 410,
 'vision': 4792,
 'marvelcinematicunivers': 2831,
 'harri': 1998,
 'begin': 449,
 'discov': 1275,
 'old': 3207,
 'book': 545,
 'mark': 2805,
 'properti': 3524,
 'half': 1967,
 'blood': 524,
 'prince': 3493,
 'learn': 2609,
 'lord': 2704,
 'danielradcliff': 1113,
 'rupertgrint': 3844,
 'emmawatson': 1462,
 'witch': 4920,
 'broom': 604,
 'teenagecrush': 4440,
 'werewolf': 4871,
 'fear': 1650,
 'god': 1881,
 'lik': 2655,
 'left': 2613,
 'city': 845,
 'modern': 2997,
 'day': 1144,
 'wrestl': 4956,
 'sort': 4175,
 'realli': 3623,
 'superman': 4358,
 'threat': 4498,
 'quickli': 3565,
 'mankind': 2788,
 'greater': 1917,
 'danger': 1109,
 'known': 2548,
 'benaffleck': 459,
 'zacksnyd': 4986,
 'return': 3725,
 'allow': 168,
 'walk': 4819,
 'free': 1779,
 'wa': 4809,
 'abandon': 56,
 'plot': 3411,
 'million': 2952,
 'kill': 2525,
 'chang': 748,
 'face': 1598,
 'forever': 1745,
 'rid': 3747,
 'steel': 4253,
 'kevinspacey': 2513,
 'katebosworth': 2486,
 'savingtheworld': 3905,
 'bryansing': 616,
 'continu': 985,
 'jame': 2324,
 'casino': 707,
 'betray': 477,
 'woman': 4925,
 '007': 1,
 'fight': 1679,
 'urg': 4713,
 'make': 2771,
 'latest': 2590,
 'pursu': 3554,
 'determin': 1227,
 'interrog': 2273,
 'mr': 3049,
 'white': 4885,
 'organ': 3234,
 'blackmail': 513,
 'far': 1632,
 'complex': 941,
 'anyon': 264,
 'imagined': 2196,
 'undercov': 4657,
 'marcforst': 2796,
 'jack': 2310,
 'work': 4938,
 'debt': 1161,
 'jones': 2443,
 'attempt': 341,
 'avoid': 363,
 'etern': 1526,
 'fortunetel': 1755,
 'monster': 3006,
 'daughter': 1127,
 'texa': 4470,
 'ranger': 3598,
 'chase': 769,
 'outlaw': 3251,
 'led': 2611,
 'ambush': 189,
 'survivor': 4385,
 'american': 191,
 'indian': 2223,
 'nurs': 3181,
 'health': 2023,
 'don': 1315,
 'mask': 2835,
 'ride': 3749,
 'silver': 4078,
 'team': 4432,
 'bring': 590,
 'justice': 2476,
 'western': 4878,
 'partner': 3302,
 'lawyer': 2600,
 'train': 4580,
 'young': 4976,
 'boy': 559,
 'extraordinari': 1589,
 'power': 3454,
 'thi': 4484,
 'journey': 2455,
 'came': 656,
 'sent': 3989,
 'emerg': 1451,
 'save': 3904,
 'symbol': 4407,
 'hope': 2114,
 'amyadam': 204,
 'michaelshannon': 2924,
 'superhuman': 4356,
 'alieninvas': 158,
 'reboot': 3632,
 'incred': 2218,
 'lion': 2666,
 'luci': 2739,
 'susan': 4387,
 'narnia': 3084,
 'aid': 133,
 'princ': 3492,
 'threaten': 4499,
 'evil': 1550,
 'king': 2533,
 'help': 2048,
 'color': 908,
 'cast': 708,
 'characters': 759,
 'clan': 853,
 'embark': 1448,
 'quest': 3562,
 'ensur': 1495,
 'right': 3755,
 'heir': 2038,
 'fictionalplac': 1675,
 'brothersisterrelationship': 609,
 'matteroflifeanddeath': 2853,
 'faith': 1607,
 'uncl': 4651,
 'fantasyworld': 1631,
 'enemi': 1478,
 'safeti': 3866,
 'nick': 3141,
 'director': 1265,
 'intern': 2270,
 'agenc': 124,
 'need': 3106,
 'pull': 3546,
 'disaster': 1273,
 'span': 4195,
 'globe': 1878,
 'dare': 1119,
 'recruit': 3643,
 'effort': 1417,
 'begins': 450,
 'chrisevan': 807,
 'newyork': 3137,
 'shield': 4047,
 'cross': 1066,
 'path': 3311,
 'sure': 4371,
 'ruthless': 3854,
 'artist': 313,
 'use': 4716,
 'fabl': 1596,
 'youth': 4982,
 'aboard': 61,
 'queen': 3559,
 'anne': 238,
 'revenge': 3732,
 'formid': 1750,
 'doesn': 1307,
 'know': 2546,
 'penÃ©lopecruz': 3340,
 'sea': 3941,
 'mutini': 3071,
 'sword': 4402,
 'sail': 3870,
 'duke': 1373,
 'mermaid': 2902,
 'agent': 127,
 'smith': 4134,
 'tommi': 4541,
 'lee': 2612,
 'time': 4518,
 'seen': 3975,
 '15': 8,
 'men': 2891,
 'black': 511,
 'aliens': 161,
 'stake': 4234,
 'travel': 4591,
 'univers': 4682,
 'told': 4536,
 'themselv': 4481,
 'josh': 2449,
 'agency': 125,
 'humankind': 2151,
 'willsmith': 4906,
 'tommyleejon': 4542,
 'joshbrolin': 2450,
 'comedi': 916,
 'timetravel': 4521,
 'barrysonnenfeld': 406,
 'immedi': 2198,
 'event': 1540,
 'desol': 1214,
 'dwarv': 1381,
 'defend': 1177,
 'mountain': 3039,
 'treasur': 4593,
 'claim': 849,
 'ruin': 3836,
 'elv': 1446,
 'meanwhil': 2869,
 'armi': 297,
 'orc': 3229,
 'march': 2797,
 'fuel': 1798,
 'rise': 3762,
 'middle': 2935,
 'fall': 1610,
 'martinfreeman': 2828,
 'ianmckellen': 2169,
 'corrupt': 1007,
 'hobbit': 2088,
 'dragon': 1336,
 'unlikelyfriendship': 4689,
 'swordandsorceri': 4403,
 'peterjackson': 3359,
 'outcast': 3249,
 'high': 2060,
 'parent': 3287,
 'leav': 2610,
 'rais': 3590,
 'ben': 458,
 'aunt': 353,
 'like': 2656,
 'teenagers': 4443,
 'figur': 1681,
 'got': 1895,
 'person': 3351,
 'today': 4531,
 'belong': 456,
 'father': 1643,
 'understand': 4663,
 'parents': 3288,
 'disappear': 1270,
 'lead': 2605,
 'lab': 2565,
 'dr': 1333,
 'collis': 904,
 'cours': 1024,
 'choic': 799,
 'destini': 1219,
 'emmaston': 1460,
 'lossoffath': 2712,
 'robin': 3785,
 'happen': 1983,
 'die': 1249,
 'robert': 3777,
 'promis': 3519,
 'identity': 2177,
 'widow': 4889,
 'draw': 1339,
 'town': 4565,
 'sheriff': 4044,
 'russellcrow': 3850,
 'cateblanchett': 714,
 'archer': 287,
 'middleag': 2936,
 'mediev': 2877,
 'ridleyscott': 3752,
 'success': 4335,
 'mountains': 3040,
 'gain': 1816,
 'ring': 3758,
 'gold': 1883,
 'wizard': 4922,
 'shock': 4051,
 'orphan': 3240,
 'trade': 4571,
 'carefre': 687,
 'exist': 1566,
 'roam': 3771,
 'hall': 1968,
 'jordan': 2446,
 'colleg': 901,
 'otherworldli': 3246,
 'north': 3164,
 'unawar': 4649,
 'destiny': 1220,
 'nicolekidman': 3145,
 'england': 1485,
 'experi': 1575,
 'basedonyoungadultnovel': 419,
 'chrisweitz': 830,
 'york': 4974,
 'ambiti': 187,
 'movi': 3044,
 'produc': 3507,
 'hire': 2078,
 'crew': 1053,
 'skull': 4112,
 'island': 2301,
 'kong': 2549,
 'giant': 1866,
 'ape': 269,
 'smitten': 4135,
 'naomiwatt': 3082,
 'jackblack': 2312,
 'adrienbrodi': 100,
 'screenplay': 3936,
 'filmmak': 1686,
 'filmproduc': 1687,
 'dinosaur': 1261,
 'rose': 3823,
 'tell': 4452,
 'stori': 4285,
 'lizzi': 2679,
 'lewi': 2638,
 'bobbi': 534,
 'april': 281,
 'titan': 4528,
 'board': 530,
 'depart': 1199,
 'upper': 4706,
 'class': 856,
 'passeng': 3307,
 'mother': 3029,
 'ruth': 3853,
 'fiancÃ©': 1673,
 'drifter': 1348,
 'best': 472,
 'friend': 1787,
 'win': 4908,
 'game': 1821,
 'explain': 1580,
 'voyag': 4807,
 '20': 36,
 'katewinslet': 2489,
 'leonardodicaprio': 2627,
 'panic': 3279,
 'disast': 1272,
 'classdiffer': 857,
 'starcrossedlov': 4241,
 '1910': 16,
 'age': 122,
 'collect': 899,
 'govern': 1899,
 'pass': 3306,
 'act': 78,
 'design': 1211,
 'polar': 3419,
 'caus': 722,
 'faction': 1601,
 'iron': 2299,
 'america': 190,
 'scarlettjohansson': 3914,
 'civilwar': 848,
 'beam': 429,
 'radio': 3582,
 'signal': 4073,
 'form': 1749,
 'sever': 4015,
 'craft': 1038,
 'water': 4852,
 'hawaii': 2017,
 'lieuten': 2645,
 'alex': 150,
 'hopper': 2117,
 'weapon': 4859,
 'offic': 3200,
 'assign': 327,
 'paul': 3320,
 'engag': 1483,
 'unimagin': 4678,
 'strength': 4300,
 'live': 2675,
 'potenti': 3450,
 'brother': 606,
 'admir': 95,
 'shane': 4030,
 'expect': 1572,
 'navi': 3096,
 'hongkong': 2108,
 'soccer': 4145,
 'scientist': 3926,
 'peterberg': 3357,
 'park': 3293,
 'featur': 1653,
 'fulli': 1801,
 'theme': 4480,
 'origin': 3237,
 'dna': 1300,
 'suspens': 4390,
 'amusementpark': 202,
 'animalattack': 230,
 'animalhorror': 231,
 'grave': 1915,
 'wrong': 4963,
 'attack': 339,
 'reloc': 3674,
 'author': 357,
 'posit': 3444,
 'challeng': 742,
 'intellig': 2265,
 'secur': 3969,
 'insid': 2249,
 'alli': 166,
 'trust': 4618,
 'shadow': 4024,
 'onli': 3217,
 'field': 1676,
 'eve': 1539,
 'lethal': 2634,
 'hidden': 2057,
 'motiv': 3034,
 'judidench': 2461,
 'javierbardem': 2352,
 'sociopath': 4149,
 'killer': 2527,
 'major': 2769,
 'ident': 2176,
 'crisis': 1062,
 'burn': 636,
 'decid': 1168,
 'suffer': 4341,
 'wake': 4818,
 'doc': 1301,
 'feel': 1657,
 'mari': 2799,
 'jane': 2340,
 'girl': 1870,
 'sinc': 4088,
 'childhood': 785,
 'doctor': 1302,
 'supervillain': 4364,
 'apart': 266,
 'start': 4245,
 'odyssey': 3198,
 'rebuild': 3633,
 'gwynethpaltrow': 1959,
 'doncheadl': 1318,
 'malibu': 2778,
 'alice': 156,
 'individu': 2226,
 '19': 15,
 'english': 1486,
 'party': 3305,
 'crowd': 1068,
 'consid': 971,
 'marriag': 2813,
 'hole': 2091,
 'garden': 1830,
 'spot': 4222,
 'unusu': 4701,
 'rabbit': 3569,
 'arriv': 306,
 'strang': 4292,
 'surreal': 4379,
 'place': 3394,
 'nightmar': 3151,
 'child': 782,
 'talk': 4417,
 'animals': 232,
 'alic': 155,
 'reason': 3626,
 'conquer': 967,
 'horrif': 2120,
 'restor': 3716,
 'throne': 4502,
 'annehathaway': 239,
 'timburton': 4517,
 'cure': 1087,
 'treat': 4595,
 'line': 2663,
 'drawn': 1340,
 'band': 389,
 'mutant': 3069,
 'hughjackman': 2147,
 'halleberri': 1969,
 'beast': 432,
 'brettratn': 580,
 'relationship': 3665,
 'mike': 2943,
 'dure': 1376,
 'friends': 1789,
 'billycryst': 499,
 'johngoodman': 2421,
 'stevebuscemi': 4264,
 'bestfriend': 473,
 'scari': 3913,
 'sam': 3877,
 'normal': 3162,
 'mind': 2955,
 'target': 4423,
 'drag': 1335,
 'shialabeouf': 4046,
 'egypt': 1420,
 'sun': 4351,
 'chao': 753,
 'artifact': 310,
 'transform': 4584,
 'tank': 4420,
 'robot': 3789,
 'michaelbay': 2917,
 'pick': 3378,
 'vanish': 4734,
 'group': 1935,
 'businessman': 640,
 'push': 3556,
 'boundari': 554,
 'technolog': 4435,
 'control': 988,
 'ancient': 210,
 'menac': 2892,
 'markwahlberg': 2809,
 'giantrobot': 1867,
 'oscar': 3243,
 'small': 4130,
 'tim': 4515,
 'circu': 840,
 'whisk': 4884,
 'kansa': 2479,
 'land': 2575,
 'oz': 3263,
 'inhabit': 2238,
 'great': 1916,
 'clutch': 883,
 'milakuni': 2946,
 'rachelweisz': 3577,
 'illus': 2191,
 'lost': 2718,
 'bad': 380,
 'guy': 1955,
 'spend': 4207,
 'loves': 2731,
 'school': 3920,
 'graduat': 1906,
 'stay': 4250,
 'clue': 881,
 'jamiefoxx': 2337,
 'obsess': 3185,
 'tech': 4434,
 'son': 4166,
 'kevin': 2506,
 'investig': 2286,
 'dictat': 1246,
 'real': 3618,
 'jeffbridg': 2362,
 'oliviawild': 3212,
 'artificialintellig': 312,
 'dystopia': 1389,
 'comput': 945,
 'decept': 1167,
 'duel': 1372,
 'motorcycl': 3037,
 'star': 4240,
 'race': 3570,
 'car': 680,
 'lightn': 2654,
 'pal': 3274,
 'compet': 937,
 'grand': 1907,
 'road': 3768,
 'championship': 745,
 'rocki': 3794,
 'intrigu': 2279,
 'owenwilson': 3259,
 'carrac': 697,
 'anthropomorph': 256,
 'centuries': 735,
 'warrior': 4841,
 'green': 1923,
 'corp': 1003,
 'intergalact': 2269,
 'wear': 4861,
 'grant': 1912,
 'destroy': 1221,
 'balanc': 384,
 'universe': 4683,
 'lie': 2644,
 'hand': 1973,
 'ryanreynold': 3858,
 'petersarsgaard': 3360,
 'martincampbel': 2827,
 'buzz': 647,
 'andy': 218,
 'toy': 4567,
 'haven': 2015,
 'play': 3403,
 'andi': 214,
 'college': 902,
 'accident': 69,
 'nefari': 3107,
 'care': 685,
 'center': 731,
 'togeth': 4534,
 'home': 2096,
 'tomhank': 4539,
 'timallen': 4516,
 'toycomestolif': 4568,
 'grown': 1939,
 'post': 3447,
 'apocalypt': 272,
 'connor': 966,
 'resist': 3704,
 'increasingli': 2217,
 'domin': 1314,
 'marcu': 2798,
 'wright': 4959,
 'confus': 960,
 'foe': 1725,
 'antonyelchin': 263,
 'propheci': 3525,
 'sanfrancisco': 3891,
 'cyborg': 1097,
 'killerrobot': 2528,
 'gasstat': 1837,
 'losangel': 2705,
 'shaw': 4040,
 'seek': 3973,
 'vindiesel': 4780,
 'paulwalk': 3328,
 'dwaynejohnson': 1382,
 'speed': 4204,
 'jameswan': 2333,
 'unit': 4681,
 'nation': 3090,
 'lane': 2577,
 'content': 983,
 'plagu': 3395,
 'infect': 2233,
 'turn': 4624,
 'popul': 3434,
 'rampag': 3594,
 'zombies': 4996,
 'bare': 399,
 'chaos': 754,
 'persuad': 3352,
 'disease': 1278,
 'peril': 3346,
 'trek': 4598,
 'brave': 567,
 'odd': 3195,
 'answer': 249,
 'befor': 446,
 'civil': 846,
 'bradpitt': 563,
 'horror': 2122,
 'apocalyps': 270,
 'zombi': 4994,
 'zombieapocalyps': 4995,
 'speci': 4199,
 'period': 3347,
 'join': 2436,
 'younger': 4979,
 'future': 1808,
 'jamesmcavoy': 2332,
 'michaelfassbend': 2920,
 '1970': 25,
 'storm': 4287,
 'enterpris': 1498,
 'unstopp': 4699,
 'everyth': 1548,
 'stand': 4238,
 'state': 4246,
 'score': 3927,
 'kirk': 2536,
 'manhunt': 2784,
 'captur': 678,
 'mass': 2836,
 'destruction': 1224,
 'friendship': 1790,
 'sacrific': 3861,
 'chrispin': 810,
 'spacecraft': 4188,
 'spaceopera': 4191,
 'unwittingli': 4704,
 'open': 3220,
 'fearsom': 1652,
 'unleash': 4686,
 'strive': 4309,
 'reclaim': 3637,
 'onc': 3216,
 'people': 3342,
 'thought': 4496,
 'legend': 2618,
 'chanc': 746,
 'ewanmcgregor': 1553,
 'adapt': 91,
 'scott': 3929,
 'novel': 3171,
 'lure': 2746,
 'lavish': 2596,
 'neighbor': 3109,
 'jay': 2353,
 'crack': 1037,
 'rich': 3739,
 'existence': 1567,
 'obsession': 3186,
 'tragedi': 4576,
 'await': 364,
 'careymulligan': 689,
 'infidel': 2234,
 'rogu': 3799,
 'capabl': 672,
 'releas': 3668,
 'gift': 1868,
 'rule': 3837,
 'jakegyllenha': 2322,
 'benkingsley': 467,
 'basedonvideogam': 418,
 'mikenewel': 2945,
 'legion': 2621,
 'monstrou': 3008,
 'creatures': 1050,
 'began': 448,
 'consum': 978,
 'humanity': 2150,
 'resourc': 3708,
 'end': 1474,
 'combat': 911,
 ...}

In [41]:
# create similarity object 
similarity = cosine_similarity(vector)
similarity.shape

(4806, 4806)

In [42]:
# check index with similarity
similarity[2]

array([0.0860309 , 0.06063391, 1.        , ..., 0.02451452, 0.        ,
       0.        ])

In [43]:
# now find index of movie name in data frame
new_df[new_df["title"] == "The Lego Movie"].index[0]

744

In [44]:
# now give index of movie to similarity it return cosine distance with other movies
similarity[new_df[new_df["title"] == "The Lego Movie"].index[0]]

array([0.06488857, 0.06859943, 0.03535534, ..., 0.02773501, 0.        ,
       0.        ])

In [45]:
# now sort these score in decsendind order but keep indx position and also in key sort bases of second position
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x: x[1])

[(0, 1.0000000000000002),
 (1216, 0.28676966733820225),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.25038669783359574),
 (582, 0.24511108480187255),
 (1204, 0.24455799402225925),
 (1194, 0.23179316248638276),
 (778, 0.23174488732966073),
 (4048, 0.2278389747471728),
 (1920, 0.2252817784447915),
 (61, 0.22269966704152225),
 (2786, 0.21853668936906193),
 (172, 0.21239769762143662),
 (972, 0.2108663315950723),
 (322, 0.2105263157894737),
 (2333, 0.20443988269091456),
 (3608, 0.20437977982832192),
 (260, 0.20395079136182276),
 (151, 0.2029530274475215),
 (4192, 0.2029530274475215),
 (1444, 0.20277677641345318),
 (74, 0.2024645717996314),
 (1089, 0.2020475485519274),
 (3675, 0.1979082783981174),
 (973, 0.19767387315371682),
 (577, 0.1976738731537168),
 (47, 0.19672236884115843),
 (2971, 0.1925214071641298),
 (942, 0.19134594929397597),
 (495, 0.19088542889273336),
 (1201, 0.19088542889273336),
 (305, 0.19007487139298027),
 (4, 0.1892994097121204),
 (4405, 0.18731716231633883),
 (94, 0.1873171623163388),
 (27, 0.18693292157876878),
 (3327, 0.1860807318911967),
 (1275, 0.18394180184548975),
 (1329, 0.18394180184548975),
 (2999, 0.1813690625275029),
 (3999, 0.18074256993863339),
 (83, 0.17996850826633903),
 (1071, 0.17954621161490197),
 (220, 0.1777046633277277),
 (1321, 0.17699808135119718),
 (168, 0.17521916101261562),
 (184, 0.17521916101261562),
 (2204, 0.17521916101261562),
 (4336, 0.17521916101261562),
 (931, 0.1748149640244195),
 (373, 0.17292861596651865),
 (300, 0.1711905958155815),
 (3538, 0.1711905958155815),
 (36, 0.17119059581558146),
 (3162, 0.17040572913692198),
 (1982, 0.16943474841747155),
 (529, 0.16742770563222897),
 (1831, 0.16742770563222897),
 (91, 0.16692446522239718),
 (661, 0.1661625969589056),
 (41, 0.16563698349810535),
 (150, 0.16426202236672155),
 (1537, 0.16222142113076254),
 (67, 0.16222142113076252),
 (342, 0.16122923187750418),
 (595, 0.16059101370939324),
 (31, 0.15907119074394446),
 (2515, 0.15907119074394446),
 (1178, 0.15789473684210528),
 (4010, 0.15737789507292674),
 (2731, 0.15609763526361567),
 (149, 0.15511334686589626),
 (838, 0.1540171257313038),
 (26, 0.15389675281277312),
 (187, 0.15389675281277312),
 (1344, 0.152008377581442),
 (1383, 0.152008377581442),
 (111, 0.15018785229652767),
 (311, 0.15018785229652765),
 (513, 0.14843120879858804),
 (2075, 0.14808721943977307),
 (7, 0.14673479641335554),
 (52, 0.14673479641335554),
 (2760, 0.14659886790209342),
 (127, 0.14601068654819693),
 (579, 0.14567913668701626),
 (581, 0.14567913668701626),
 (108, 0.14509525002200235),
 (1297, 0.14509525002200235),
 (466, 0.14509525002200233),
 (1396, 0.14421498760030763),
 (1479, 0.1442149876003076),
 (1355, 0.14350946197048198),
 (1938, 0.14350946197048198),
 (275, 0.1433848336691011),
 (294, 0.1433848336691011),
 (3354, 0.1433848336691011),
 (1056, 0.1419745572840903),
 (1273, 0.1419745572840903),
 (490, 0.14159846508095775),
 (1488, 0.14159846508095775),
 (413, 0.1411956236812263),
 (461, 0.1411956236812263),
 (568, 0.1411956236812263),
 (2496, 0.1411956236812263),
 (95, 0.14048787173725413),
 (17, 0.13977653617040256),
 (46, 0.1391037210186643),
 (3409, 0.1391037210186643),
 (1965, 0.13872950617564817),
 (56, 0.13834289277321493),
 (249, 0.13834289277321493),
 (1327, 0.13834289277321493),
 (3781, 0.13834289277321493),
 (72, 0.13710212427677043),
 (859, 0.13710212427677043),
 (2169, 0.13710212427677043),
 (4538, 0.13629325512727639),
 (476, 0.13530201829834768),
 (505, 0.13530201829834768),
 (668, 0.13530201829834768),
 (935, 0.13530201829834768),
 (3982, 0.13530201829834768),
 (843, 0.13518451760896877),
 (1808, 0.13518451760896877),
 (502, 0.13497638119975428),
 (4348, 0.13497638119975428),
 (1322, 0.13476498501489081),
 (158, 0.13369695534647594),
 (777, 0.13369695534647594),
 (126, 0.13334518676566626),
 (1560, 0.13334518676566626),
 (1373, 0.1324532357065044),
 (2378, 0.1324532357065044),
 (2584, 0.1324532357065044),
 (4079, 0.13157894736842107),
 (2133, 0.13124359177794215),
 (1015, 0.12988108336653278),
 (2181, 0.12988108336653278),
 (3622, 0.12988108336653278),
 (134, 0.12977713690461004),
 (368, 0.12977713690461004),
 (1774, 0.12977713690461004),
 (2873, 0.12892051277806202),
 (14, 0.12824729401064427),
 (138, 0.12824729401064427),
 (1086, 0.12824729401064427),
 (2686, 0.12824729401064427),
 (4230, 0.12824729401064427),
 (487, 0.12725695259515557),
 (773, 0.12725695259515557),
 (2970, 0.12725695259515557),
 (369, 0.126673647984535),
 (937, 0.126673647984535),
 (2480, 0.12565617248750865),
 (1741, 0.12565617248750863),
 (166, 0.12515654358043973),
 (754, 0.12515654358043973),
 (2450, 0.12515654358043973),
 (3628, 0.12515654358043973),
 (483, 0.12487810821089254),
 (1096, 0.12487810821089254),
 (1158, 0.12487810821089254),
 (102, 0.12462194771917919),
 (84, 0.12361284651454937),
 (208, 0.12262786789699316),
 (1301, 0.12262786789699316),
 (2652, 0.12262786789699316),
 (3376, 0.12262786789699316),
 (1878, 0.12262786789699313),
 (438, 0.12227899701112963),
 (557, 0.12227899701112963),
 (1299, 0.12227899701112963),
 (2331, 0.12166606584807191),
 (2674, 0.12166606584807191),
 (3083, 0.12166606584807191),
 (139, 0.12072654548783007),
 (68, 0.1204950466257556),
 (781, 0.1204950466257556),
 (1004, 0.1204950466257556),
 (1274, 0.1204950466257556),
 (1658, 0.1204950466257556),
 (1002, 0.11980845957463077),
 (549, 0.11959121830873498),
 (870, 0.11959121830873498),
 (900, 0.11959121830873498),
 (3235, 0.11959121830873498),
 (122, 0.11846977555181847),
 (1047, 0.11846977555181847),
 (1833, 0.11846977555181847),
 (2060, 0.11846977555181847),
 (2741, 0.11846977555181847),
 (4673, 0.11846977555181847),
 (1617, 0.11831213107007527),
 (3721, 0.11803342130469506),
 (1673, 0.11803342130469505),
 (1715, 0.11803342130469505),
 (2789, 0.11803342130469505),
 (4000, 0.11803342130469505),
 (160, 0.11712303424679457),
 (182, 0.11707322644771176),
 (278, 0.11707322644771176),
 (2284, 0.11707322644771176),
 (28, 0.116543309349613),
 (422, 0.116543309349613),
 (678, 0.116543309349613),
 (589, 0.1163350101494222),
 (454, 0.11587244366483038),
 (2547, 0.11587244366483038),
 (1497, 0.11551284429847784),
 (3212, 0.11506355109724453),
 (189, 0.1147078669352809),
 (1220, 0.1147078669352809),
 (236, 0.11470786693528087),
 (85, 0.1141270638770543),
 (432, 0.11357771260606365),
 (1418, 0.11357771260606365),
 (50, 0.11295649894498103),
 (1616, 0.11295649894498103),
 (420, 0.1124803176664619),
 (536, 0.1124803176664619),
 (2372, 0.1124803176664619),
 (889, 0.11243619908556624),
 (3147, 0.11239029738980327),
 (256, 0.11164843913471803),
 (808, 0.11164843913471803),
 (1348, 0.11164843913471803),
 (3309, 0.11141412945539662),
 (1512, 0.11141412945539661),
 (87, 0.11128297681493143),
 (121, 0.11128297681493143),
 (232, 0.11128297681493143),
 (4468, 0.11128297681493143),
 (206, 0.11092107999698035),
 (238, 0.11092107999698035),
 (228, 0.11037769642208699),
 (81, 0.11020775375559676),
 (1574, 0.11020775375559674),
 (3428, 0.10968169942141637),
 (21, 0.10968169942141635),
 (449, 0.10968169942141635),
 (1031, 0.10968169942141635),
 (1945, 0.10968169942141635),
 (3008, 0.10968169942141635),
 (123, 0.10936965981495178),
 (692, 0.10936965981495178),
 (200, 0.10882143751650175),
 (627, 0.10882143751650175),
 (653, 0.10882143751650175),
 (1501, 0.10882143751650175),
 (1524, 0.10882143751650175),
 (1575, 0.10882143751650175),
 (307, 0.10876595882948199),
 (5, 0.10838874619051501),
 (740, 0.10838874619051501),
 (3093, 0.10838874619051501),
 (3630, 0.10838874619051501),
 (786, 0.10814761408717502),
 (3498, 0.10814761408717502),
 (4777, 0.10814761408717502),
 (229, 0.1074861545850028),
 (572, 0.10743376064838502),
 (939, 0.1068366854693644),
 (332, 0.106676149412533),
 (472, 0.106676149412533),
 (1237, 0.106676149412533),
 (170, 0.10650358071057624),
 (262, 0.10650358071057624),
 (1166, 0.10619884881071831),
 (1745, 0.10619884881071831),
 (2161, 0.10619884881071831),
 (2634, 0.10619884881071831),
 (4135, 0.10619884881071831),
 (467, 0.10559715077387793),
 (541, 0.10559715077387793),
 (1496, 0.10559715077387793),
 (131, 0.10526315789473685),
 (295, 0.10526315789473685),
 (814, 0.10526315789473685),
 (2072, 0.10526315789473685),
 (3340, 0.10526315789473685),
 (2498, 0.10471347707292386),
 (75, 0.10390486669322622),
 (223, 0.10390486669322622),
 (687, 0.10390486669322622),
 (1195, 0.10390486669322622),
 (1771, 0.10390486669322622),
 (2148, 0.10390486669322622),
 (2817, 0.10390486669322622),
 (654, 0.10385162309931599),
 (2439, 0.10385162309931599),
 (105, 0.1037571695799112),
 (233, 0.1037571695799112),
 (2323, 0.1037571695799112),
 (2456, 0.1037571695799112),
 (2521, 0.1037571695799112),
 (3055, 0.1037571695799112),
 (3621, 0.1037571695799112),
 (3839, 0.1037571695799112),
 (1455, 0.10301070542879115),
 (10, 0.10259783520851541),
 (1082, 0.10259783520851541),
 (3152, 0.10259783520851541),
 (3634, 0.10259783520851541),
 (3755, 0.10259783520851541),
 (3874, 0.10259783520851541),
 (4097, 0.10259783520851541),
 (2106, 0.10218988991416095),
 (624, 0.10147651372376076),
 (2762, 0.10147651372376076),
 (3663, 0.10147651372376076),
 (3954, 0.10147651372376076),
 (3441, 0.10138838820672659),
 (508, 0.101338918387628),
 (1294, 0.101338918387628),
 (2247, 0.10133891838762799),
 (1405, 0.10060545457319173),
 (1439, 0.10060545457319173),
 (2099, 0.10060545457319173),
 (312, 0.10012523486435178),
 (330, 0.10012523486435178),
 (643, 0.10012523486435178),
 (988, 0.10012523486435178),
 (1037, 0.10012523486435178),
 (1614, 0.10012523486435178),
 (35, 0.09933992677987831),
 (157, 0.09933992677987831),
 (319, 0.09933992677987831),
 (325, 0.09933992677987831),
 (715, 0.09933992677987831),
 (1077, 0.09933992677987831),
 (1280, 0.09933992677987831),
 (1884, 0.09933992677987831),
 (2053, 0.09933992677987831),
 (4018, 0.09933992677987831),
 (4198, 0.09933992677987831),
 (4490, 0.09933992677987831),
 (363, 0.09909250441117726),
 (491, 0.09909250441117726),
 (266, 0.0989541391990587),
 (445, 0.0989541391990587),
 (510, 0.0989541391990587),
 (3620, 0.0989541391990587),
 (3783, 0.0989541391990587),
 (3935, 0.0989541391990587),
 (1775, 0.09836118442057921),
 (410, 0.0978231976089037),
 (480, 0.0978231976089037),
 (535, 0.0978231976089037),
 (898, 0.0978231976089037),
 (1109, 0.0978231976089037),
 (1401, 0.0978231976089037),
 (1823, 0.0978231976089037),
 (2253, 0.0978231976089037),
 (33, 0.09733285267845754),
 (148, 0.09733285267845754),
 (263, 0.09733285267845754),
 (791, 0.09733285267845754),
 (878, 0.09733285267845754),
 (1156, 0.09733285267845754),
 (1727, 0.09733285267845754),
 (1942, 0.09733285267845754),
 (2787, 0.09733285267845754),
 (4256, 0.09733285267845754),
 (4403, 0.09733285267845754),
 (4472, 0.09733285267845754),
 (9, 0.0967301666813349),
 (334, 0.0967301666813349),
 (371, 0.09567297464698798),
 (412, 0.09567297464698798),
 (2241, 0.09567297464698798),
 (2556, 0.09567297464698798),
 (4545, 0.09558988911273408),
 (362, 0.09544271444636668),
 (2562, 0.09544271444636668),
 (4203, 0.09544271444636668),
 (18, 0.09493290614465533),
 (11, 0.09464970485606021),
 (587, 0.09464970485606021),
 (2650, 0.09464970485606021),
 (660, 0.09365858115816941),
 (920, 0.09365858115816941),
 (1276, 0.09365858115816941),
 (1357, 0.09365858115816941),
 (1474, 0.09365858115816941),
 (1573, 0.09365858115816941),
 (1686, 0.09365858115816941),
 (1692, 0.09365858115816941),
 (1721, 0.09365858115816941),
 (2396, 0.09365858115816941),
 (2488, 0.09365858115816941),
 (2592, 0.09365858115816941),
 (2645, 0.09365858115816941),
 (2820, 0.09365858115816941),
 (3537, 0.09365858115816941),
 (3720, 0.09365858115816941),
 (4331, 0.09365858115816941),
 (4502, 0.09365858115816941),
 (129, 0.09269795493186431),
 (243, 0.09269795493186431),
 (279, 0.09269795493186431),
 (473, 0.09269795493186431),
 (596, 0.09269795493186431),
 (813, 0.09269795493186431),
 (1446, 0.09269795493186431),
 (1701, 0.09269795493186431),
 (3407, 0.09269795493186431),
 (301, 0.09243423333081696),
 (785, 0.09243423333081695),
 (219, 0.09197090092274487),
 (244, 0.09197090092274487),
 (511, 0.09197090092274487),
 (980, 0.09197090092274487),
 (1756, 0.09197090092274487),
 (2093, 0.09197090092274487),
 (2651, 0.09197090092274487),
 (3736, 0.09197090092274487),
 (230, 0.09183979479633063),
 (799, 0.09183979479633063),
 (2570, 0.09183979479633061),
 (239, 0.09125667909262308),
 (43, 0.09086217008485092),
 (602, 0.09086217008485092),
 (997, 0.09086217008485092),
 (1233, 0.09086217008485092),
 (1846, 0.09086217008485092),
 (3881, 0.09086217008485092),
 (12, 0.09037128496931669),
 (88, 0.09037128496931669),
 (167, 0.09037128496931669),
 (356, 0.09037128496931669),
 (400, 0.09037128496931669),
 (1306, 0.09037128496931669),
 (1480, 0.09037128496931669),
 (2251, 0.09037128496931669),
 (2957, 0.09037128496931669),
 (331, 0.08998425413316952),
 (2363, 0.08998425413316952),
 (2796, 0.08998425413316952),
 (2856, 0.08998425413316952),
 (3389, 0.08998425413316952),
 (3443, 0.08998425413316952),
 (3462, 0.08998425413316952),
 (4343, 0.08998425413316952),
 (4353, 0.08998425413316952),
 (274, 0.08977310580745099),
 (1906, 0.0891313035643173),
 (2115, 0.08903057122447033),
 (292, 0.08885233166386385),
 (564, 0.08885233166386385),
 (1027, 0.08885233166386385),
 (2660, 0.08885233166386385),
 (2868, 0.08885233166386385),
 (3322, 0.08885233166386385),
 (169, 0.08830215713766959),
 (270, 0.08830215713766959),
 (618, 0.08830215713766959),
 (1783, 0.08830215713766959),
 (2109, 0.08830215713766959),
 (2713, 0.08830215713766959),
 (2740, 0.08830215713766959),
 (3553, 0.08830215713766959),
 (479, 0.08797691788472335),
 (752, 0.08749572785196143),
 (1832, 0.08749572785196143),
 (3556, 0.08749572785196143),
 (2448, 0.08746392856766495),
 (23, 0.08740748201220976),
 (141, 0.08740748201220976),
 (389, 0.08740748201220976),
 (745, 0.08740748201220976),
 (794, 0.08740748201220976),
 (960, 0.08740748201220976),
 (1249, 0.08740748201220976),
 (1259, 0.08740748201220976),
 (3448, 0.08740748201220976),
 (3449, 0.08740748201220976),
 (143, 0.08671099695241201),
 (199, 0.08671099695241201),
 (827, 0.08671099695241201),
 (1019, 0.08671099695241201),
 (1530, 0.08671099695241201),
 (2880, 0.08671099695241201),
 (4516, 0.08671099695241201),
 (4587, 0.08671099695241201),
 (2, 0.08603090020146065),
 (457, 0.08603090020146065),
 (775, 0.08603090020146065),
 (1378, 0.08603090020146065),
 (2583, 0.08603090020146065),
 (3135, 0.08603090020146065),
 (4754, 0.08603090020146065),
 (234, 0.08594700851870801),
 (2354, 0.08594700851870801),
 (32, 0.08520286456846099),
 (190, 0.08520286456846099),
 (217, 0.08520286456846099),
 (2968, 0.08520286456846099),
 (142, 0.08471737420873576),
 (894, 0.08471737420873576),
 (1097, 0.08471737420873576),
 (1142, 0.08471737420873576),
 (1589, 0.08471737420873576),
 (2304, 0.08471737420873576),
 (4560, 0.08471737420873576),
 (48, 0.08447772061910234),
 (1305, 0.08447772061910234),
 (1639, 0.08447772061910234),
 (62, 0.0837707816583391),
 (381, 0.0837707816583391),
 (534, 0.0837707816583391),
 (1698, 0.0837707816583391),
 (3180, 0.0837707816583391),
 (3218, 0.0837707816583391),
 (3978, 0.0837707816583391),
 (4737, 0.0837707816583391),
 (1, 0.08346223261119858),
 (152, 0.08346223261119858),
 (203, 0.08346223261119858),
 (315, 0.08346223261119858),
 (547, 0.08346223261119858),
 (1688, 0.08346223261119858),
 (1749, 0.08346223261119858),
 (2128, 0.08346223261119858),
 (2386, 0.08321783316232578),
 (19, 0.0830812984794528),
 (403, 0.0830812984794528),
 (3905, 0.0830812984794528),
 (2203, 0.08240856434303293),
 (39, 0.08226127456606226),
 (227, 0.08226127456606226),
 (341, 0.08226127456606226),
 (626, 0.08226127456606226),
 (787, 0.08226127456606226),
 (1207, 0.08226127456606226),
 (2167, 0.08226127456606226),
 (2661, 0.08226127456606226),
 (3140, 0.08226127456606226),
 (3301, 0.08226127456606226),
 (3470, 0.08226127456606226),
 (45, 0.08175191193132876),
 (63, 0.08175191193132876),
 (501, 0.08175191193132876),
 (38, 0.08111071056538127),
 (242, 0.08111071056538127),
 (245, 0.08111071056538127),
 (306, 0.08111071056538127),
 (584, 0.08111071056538127),
 (812, 0.08111071056538127),
 (866, 0.08111071056538127),
 (901, 0.08111071056538127),
 (1519, 0.08111071056538127),
 (1664, 0.08111071056538127),
 (2339, 0.08111071056538127),
 (2644, 0.08111071056538127),
 (2671, 0.08111071056538127),
 (2865, 0.08111071056538127),
 (2877, 0.08111071056538127),
 (3527, 0.08111071056538127),
 (3926, 0.08111071056538127),
 (4492, 0.08111071056538127),
 (4568, 0.08111071056538127),
 (4626, 0.08111071056538127),
 (4641, 0.08111071056538127),
 (4654, 0.08111071056538127),
 (4657, 0.08111071056538127),
 (103, 0.08048436365855338),
 (2792, 0.08048436365855338),
 (164, 0.08000711205939975),
 (854, 0.08000711205939975),
 (899, 0.08000711205939975),
 (1269, 0.08000711205939975),
 (1325, 0.08000711205939975),
 (1747, 0.08000711205939975),
 (2683, 0.08000711205939975),
 (3764, 0.08000711205939975),
 (3816, 0.08000711205939975),
 (3851, 0.08000711205939975),
 (486, 0.07992075789278004),
 (51, 0.07987230638308718),
 (222, 0.07987230638308718),
 (1534, 0.07987230638308718),
 (4506, 0.07987230638308718),
 (1898, 0.0792740035289418),
 (16, 0.07894736842105264),
 (37, 0.07894736842105264),
 (241, 0.07894736842105264),
 (329, 0.07894736842105264),
 (1080, 0.07894736842105264),
 (1161, 0.07894736842105264),
 (2295, 0.07894736842105264),
 (3233, 0.07894736842105264),
 (4316, 0.07894736842105264),
 (193, 0.07878168645790681),
 (153, 0.07868894753646337),
 (776, 0.07868894753646337),
 (1045, 0.07868894753646337),
 (1139, 0.07868894753646337),
 (1828, 0.07868894753646337),
 (1926, 0.07868894753646337),
 (3728, 0.07868894753646337),
 (3832, 0.07868894753646337),
 (4279, 0.07868894753646337),
 (286, 0.0781166566864507),
 (1659, 0.0781166566864507),
 (174, 0.07792865001991967),
 (402, 0.07792865001991967),
 (922, 0.07792865001991967),
 (1113, 0.07792865001991967),
 (2938, 0.07792865001991967),
 (3028, 0.07792865001991967),
 (3091, 0.07792865001991967),
 (3102, 0.07792865001991967),
 (3164, 0.07792865001991967),
 (4341, 0.07792865001991967),
 (1924, 0.07755667343294813),
 (3560, 0.07755667343294813),
 (1282, 0.0770085628656519),
 (40, 0.07694837640638656),
 (96, 0.07694837640638656),
 (101, 0.07694837640638656),
 (112, 0.07694837640638656),
 (207, 0.07694837640638656),
 (632, 0.07694837640638656),
 (737, 0.07694837640638656),
 (1289, 0.07694837640638656),
 (2219, 0.07694837640638656),
 (4268, 0.07694837640638656),
 (4624, 0.07694837640638656),
 (850, 0.07647191129018727),
 (1005, 0.07647191129018727),
 (1254, 0.07647191129018727),
 (1621, 0.07647191129018727),
 (2165, 0.07647191129018727),
 (2274, 0.07647191129018727),
 (2712, 0.07647191129018727),
 (3430, 0.07647191129018727),
 (4165, 0.07647191129018727),
 (4473, 0.07647191129018727),
 (70, 0.076004188790721),
 (82, 0.076004188790721),
 (235, 0.076004188790721),
 (349, 0.076004188790721),
 (492, 0.076004188790721),
 (1290, 0.076004188790721),
 (1523, 0.076004188790721),
 (2449, 0.076004188790721),
 (2916, 0.076004188790721),
 (4045, 0.076004188790721),
 (4558, 0.076004188790721),
 (246, 0.07594632491572426),
 (125, 0.07577352304240824),
 (2005, 0.07543142864047142),
 (3331, 0.07530940414109724),
 (98, 0.07509392614826384),
 (210, 0.07509392614826384),
 (361, 0.07509392614826384),
 (365, 0.07509392614826384),
 (503, 0.07509392614826384),
 (540, 0.07509392614826384),
 (680, 0.07509392614826384),
 (1009, 0.07509392614826384),
 (1293, 0.07509392614826384),
 (2163, 0.07509392614826384),
 (4205, 0.07509392614826384),
 (2256, 0.07492686492653551),
 (205, 0.07443229275647868),
 (800, 0.07443229275647868),
 (995, 0.07443229275647868),
 (1323, 0.07443229275647868),
 (1521, 0.07443229275647868),
 (1770, 0.07443229275647868),
 (2326, 0.07443229275647868),
 (2551, 0.07443229275647868),
 (2801, 0.07443229275647868),
 (3069, 0.07443229275647868),
 (3117, 0.07443229275647868),
 (3126, 0.07443229275647868),
 (4011, 0.07443229275647868),
 (4412, 0.07443229275647868),
 (4542, 0.07443229275647868),

In [46]:
# define recommendation function
def recommender(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [47]:
recommender('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [48]:
# save model
pickle.dump(new_df, open('model/movie_list.pkl', 'wb'))
pickle.dump(similarity, open('model/similarity.pkl', 'wb'))